*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background: rgb(209, 204, 204);
}

.wrapper{
    width: 450px;
    background: white;
    border-radius: 10px;
}

.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current-date{
font-size: 1.45rem;
font-weight: 500;
}

header .icons i{
 height: 38px;
 width: 38px;
 color:#878787;
 font-size:1.9rem;
 margin: 0 1px;
 cursor: pointer;
 line-height: 38px;
 border-radius:50%;
 text-align: center;
 
}

header .icons i:last-child{
    margin-right:-10px;
}

header .icons i:hover{
    background: #f2f2f2;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.calendar ul{
    display: flex;
    list-style:none ;
    flex-wrap: wrap;
    text-align: center;
}
.calendar{
    padding:20px;
}

.calendar .days{
    margin-bottom: 20px;
}
.calendar .weeks li{
    font-weight: bold;
}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}
.calendar ul li{
    position: relative;
    width:calc(100%/7);
}

.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top:50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    
}


.days li.inactive{
    color:#aaa;
}
.days  li:hover::before{
background: rgb(236, 243, 173);
}

.days li.active{
    color:#fff;

}

.days li.active::before{
    background: #1f1a21
    ;
}

.column {
    display: flex;

}
.column .details{
    position: relative;
    margin-top:1rem;
    left:20%;
}

.column div{
    margin:5px 0.5px;
    
}

.column button{
    margin:7px 4px;
    width:250px; 
    height: 30px;
    border-radius: 40px;
}
.column p{
    font-size: 20px;
    margin-top:1.5px;
    margin-left: 6px;
}

